<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>idc create</title>
</head>
<body>
    create idc:
    <form action="/idc/add_save/" method="">
        <label>机房名称:</label><input type="text" name="idcname" value="{{idcname}}"/>
        <label>地区:</label><input type="text" name="area" value="{{area}}"/>
        <label>IP段:</label><input type="text" name="ip_segment" value="{{ip_segment}}"/>    
        <label>机器数量:</label><input type="test" name="machine_number" value="{{machine_number}}"/>
        <input type="submit" value="create" />
    </form>
</body>
</html>