span {
    border: 2px solid red;
}
.mydiv {
    border: 5px solid gold;
    padding: 10px;
    margin: 15px;
    width: 200px;
    height: 100px;
    border-radius: 15px;
}
#myid {
    background-color: gray;
    position: absolute;
    top: 200px;
    left: 100px;
}
.circle {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border: 1px solid red;
    background-color: red;
    border-radius: 25px;
}