{% extends "layout.html" %}

{% block title %}CMDB | 机房管理{% endblock %}

{% block nav_user %}class="active"{% endblock %}

{% block connect %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>修改用户信息</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal"  action="/idc/view_save/" method="">

                    <input type="hidden" name="idcid" value="{{idcid}}" />

                    <div class="form-group"><label class="col-sm-2 control-label">机房名称</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="idcname" value="{{idcname}}"></div>
                    </div>
                    
                    <div class="form-group"><label class="col-sm-2 control-label">地区</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="area" value="{{area}}"></div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">IP段</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="ip_segment" value="{{ip_segment}}"></div>
                    </div>
                    
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">机器数量</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="machine_number"  value="{{machine_number}}">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}