{% extends "layout.html" %}

{% block title %}CMDB | 用户管理{% endblock %}

{% block nav_user %}class="active"{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="javascript:void(0)">用户</a>
    </li>
    <li>
        <strong>用户管理</strong>
    </li>
{% endblock %}

{% block connect %}
        <!-- 用于删除用户成功后显示 -->
        {% if username %}
        <span style="color:red">delete ok</span><br>
        {% endif %}
        <!-- 用于删除用户失败后显示 -->
        {% if error %}
            <span style="color:red">delete error</span><br>
        {% endif %}
        <!-- 用于添加用户成功后显示 -->
        {% if create_username %}
        <span style="color:red">{{create_username}},create ok</span><br>
        {% endif %}
        <a href="/user/add/" class="btn btn-primary" role="button">添加用户</a><br/><br/>
        <table class="table table-bordered table-condensed  table-striped">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>年龄</th>
                    <th>密码</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_all %}
                <tr>
                    <td>{{user.get("username")}}</td>
                    <td>{{user.get("age")}}</td>
                    <td>******</td>  
                    <td>{{user.get("email")}}</td>          
                    <td><a href="/user/view/?id={{user.get("id")}}">编辑</a> | <a href="/user/delete/?id={{user.get("id")}}">删除</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}