<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user create</title>
</head>
<body>
    create user:
    <form action="/user/create/" method="">
        <label>user:</label><input type="text" name="username" value="{{username}}"/>
        <label>Password:</label><input type="password" name="password" value="{{password}}"/>
        <label>age:</label><input type="text" name="age" value="{{age}}"/>        
        <input type="submit" value="create" />
    </form>
</body>
</html>